@import url("./reset.scss");
html,
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

// 首页布局
.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout .site-layout-background {
  background: #fff;
}
